name: Maven Build Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout Repo
      - name: Checkout Code
        uses: actions/checkout@v4

      # Setup Java
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # Build the project
      - name: Build with Maven
        run: mvn -B clean package
      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-jar
          path: target/*.jar
